<ion-header>
  <ion-toolbar>
    <ion-title>
      파파고 번역기
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
  <ion-item>
    <ion-label position="floating">source</ion-label>
    <ion-select [(ngModel)]="source">
      <ion-select-option *ngFor="let lang of langCodeList" value="{{lang}}">{{lang}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">target</ion-label>
    <ion-select [(ngModel)]="target">
      <ion-select-option *ngFor="let lang of langCodeList" value="{{lang}}">{{lang}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">text</ion-label>
    <ion-textarea [(ngModel)]="text"></ion-textarea>
  </ion-item>
  <ion-button color="secondary" (click)="doTranslation()">번역하기</ion-button>
  <div id="resDiv">{{resDiv}}</div>

</ion-content>
