<ion-header>
  <ion-toolbar>
    <ion-title>
      Connect
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-avatar>
        <ion-img src="assets/image/sunmin.jpg"></ion-img>
      </ion-avatar>
      <ion-label class="avatar-name">김선민</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="logo-github" class="connect-icon"
        (click)="goPage('https://github.com/gitsunmin?tab=repositories')"></ion-icon>Github
      <ion-icon name="document" class="connect-icon" (click)="goPage('https://sitmin.tistory.com/')"></ion-icon>블로그
    </ion-item>
    <ion-card-content>
      1994년 출생<br>
      E-Mail : tjsals116@gmail.com <br>
      거주지 : 경기도 수원시 영통구 <br>
    </ion-card-content>
  </ion-card>
</ion-content>